# Objective :

Our objective is to analyze the overall bias crimes that occured in NYC that had an Anti- Asian motive. Hate crimes are offenses that are motivated in whole or substantial part by a person's a group, or a place's identification with a particular race, religion, ethnicity, gender, age, disability, ancestry, national origin or sexual orientation.

# What Is A Hate Crime ?


# How Many Hate Crimes Occur Per Year ?

# Our Data:

The data is organized by the report sightings that are 
found per each precicnt. Each is selected by bias category, 
and bias type with the offense description of what they face. Ranging from
the first date to most recent date, and analyzed from quarterly reports 
that are passed to the NYPD. All with a specific offense description
and the number of arrests that occured within that day.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("hate-crime-arrests-by-motivation-annual-2020.csv")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NYC Hate Crime Report,NaN,NaN,NaN,NaN,NaN
1,Arrest Statistics involving Hate Crime Incidents,NaN,NaN,NaN,NaN,NaN
2,"by Arrestee Gender, Race, Age and Bias Motivation",NaN,NaN,NaN,NaN,NaN
3,CY2020,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
94,89,120,FEMALE,WHITE HISPANIC,70,ANTI-ASIAN
95,90,120,FEMALE,WHITE HISPANIC,70,ANTI-BLACK
96,91,120,FEMALE,WHITE HISPANIC,70,ANTI-MALE HOMOSEXUAL(GAY)
97,92,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE
98,93,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 5 to 98
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  94 non-null     object
 1   Unnamed: 1  94 non-null     object
 2   Unnamed: 2  94 non-null     object
 3   Unnamed: 3  94 non-null     object
 4   Unnamed: 4  94 non-null     object
 5   Unnamed: 5  94 non-null     object
dtypes: object(6)
memory usage: 4.5+ KB

In [11]:
df.isna().sum()

Unnamed: 0    0
Unnamed: 1    0
Unnamed: 2    0
Unnamed: 3    0
Unnamed: 4    0
Unnamed: 5    0
dtype: int64

## There are no null values in our dataset.

## The first couple rows are actually supposed to be calling the column names therefore we can use a delimiter to fix this.

In [3]:
df[5:]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
5,Number,Precinct,Gender,Race,Age,Bias-Motivation
6,1,005,MALE,BLACK HISPANIC,38,ANTI-ASIAN
7,2,005,MALE,WHITE,32,ANTI-JEWISH
8,3,006,MALE,BLACK,38,ANTI-ASIAN
9,4,006,MALE,BLACK,37,ANTI-MALE HOMOSEXUAL(GAY)
...,...,...,...,...,...,...
94,89,120,FEMALE,WHITE HISPANIC,70,ANTI-ASIAN
95,90,120,FEMALE,WHITE HISPANIC,70,ANTI-BLACK
96,91,120,FEMALE,WHITE HISPANIC,70,ANTI-MALE HOMOSEXUAL(GAY)
97,92,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE
98,93,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE

## So our column is actually supposed to be row 5, and the data is supposed to be organized from column 6 down

In [4]:
df = df.loc[5:]

In [5]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
5,Number,Precinct,Gender,Race,Age,Bias-Motivation
6,1,005,MALE,BLACK HISPANIC,38,ANTI-ASIAN
7,2,005,MALE,WHITE,32,ANTI-JEWISH
8,3,006,MALE,BLACK,38,ANTI-ASIAN
9,4,006,MALE,BLACK,37,ANTI-MALE HOMOSEXUAL(GAY)
...,...,...,...,...,...,...
94,89,120,FEMALE,WHITE HISPANIC,70,ANTI-ASIAN
95,90,120,FEMALE,WHITE HISPANIC,70,ANTI-BLACK
96,91,120,FEMALE,WHITE HISPANIC,70,ANTI-MALE HOMOSEXUAL(GAY)
97,92,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE
98,93,120,FEMALE,WHITE HISPANIC,70,ANTI-WHITE

## We need to rename our column to start from here as as well as have the row begin with number, precit,gender, etc

In [6]:
df.rename(columns=df.iloc[0]).drop(df.index[0])

   Number Precinct  Gender            Race Age            Bias-Motivation
6       1      005    MALE  BLACK HISPANIC  38                 ANTI-ASIAN
7       2      005    MALE           WHITE  32                ANTI-JEWISH
8       3      006    MALE           BLACK  38                 ANTI-ASIAN
9       4      006    MALE           BLACK  37  ANTI-MALE HOMOSEXUAL(GAY)
10      5      007  FEMALE           BLACK  50                 ANTI-ASIAN
..    ...      ...     ...             ...  ..                        ...
94     89      120  FEMALE  WHITE HISPANIC  70                 ANTI-ASIAN
95     90      120  FEMALE  WHITE HISPANIC  70                 ANTI-BLACK
96     91      120  FEMALE  WHITE HISPANIC  70  ANTI-MALE HOMOSEXUAL(GAY)
97     92      120  FEMALE  WHITE HISPANIC  70                 ANTI-WHITE
98     93      120  FEMALE  WHITE HISPANIC  70                 ANTI-WHITE

[93 rows x 6 columns]

## So there are two different analysis we can make to specify the targeted audiences of asian community, there are those who are asian and could have targeted Anti - Asian crimes or those of other races who made a motivational bias of Anti - Asian.

## We want to focus on those with the bias - motivation of Anti - Asian

In [12]:
asian = df.groupby('Bias-Motivation')

KeyError: 'Bias-Motivation'

## Once we have determined the bias,we can make the analysis of the relationship between bias-motivationand precint, precint locations in New York City are all determined with a different location. Coomon precint locations can help us determine what locations in NYC are having the highest rate of Asian American hate.